@inject IMealPlanStateContainer _mealPlanStateContainer;
@inject IMediator _mediator
@inject ISnackbar _snackbar

<div class="d-flex flex-column justify-center">
    <MudText Typo="Typo.h6">You have no meal for @_mealPlanStateContainer.SelectedDate.DayOfWeek.ToString().ToLower()</MudText>
    <MudAutocomplete Label="Add meal"
    T="Meal"
    ValueChanged="(meal) => AddMealToPlan(meal)"
    SearchFunc="SearchMeal"
    InputMode="InputMode.text"
    Variant="Variant.Outlined"
    ToStringFunc="@((m) => m.Name)"
    Class="mt-3" />
</div>

@code {
    private List<Meal> Meals { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await GetAllMeals();

        base.OnInitialized();
    }

    private async Task GetAllMeals()
    {
        var result = await _mediator.Send(new GetAllMeals.Query());
        result.Handle(_snackbar);

        Meals = result.Value ?? [];
    }

    private async Task<IEnumerable<Meal>> SearchMeal(string mealName, CancellationToken cancellationToken)
    {
        if (Meals == null) return [];

        if (string.IsNullOrWhiteSpace(mealName)) return Meals;

        return Meals.Where(meal => meal.Name.Contains(mealName, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task AddMealToPlan(Meal meal) 
    {
        meal.MealDate = _mealPlanStateContainer.SelectedDate.Date;
        meal.MealPlan = _mealPlanStateContainer.MealPlan;

        var result = await _mediator.Send(new AddMealToMealPlan.Command(meal));

        if (result.Handle(_snackbar).IsFailed) return;

        _mealPlanStateContainer.MealPlan.MealOnDate.Add(result.Value.MealDate.Value, result.Value);

        _mealPlanStateContainer.NotifyStateChanged();
    }
}
