@inject IDrawerStateContainer _drawerStateContainer
@inject IMealsStateContainer _mealStateContainer
@inject IMediator _mediator
@inject ISnackbar _snackbar
@implements IDisposable

<BaseCard Dense CardColor="Color.Primary" OnClick="OnCreateClick">
    <HeaderContent>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="70%" Class="rounded-lg mt-1" Height="20px" />
        <MudLoadingButton OnClick="OnCreateClick" ButtonVariant="@ButtonVariant.IconButton" Icon="@Icons.Material.Filled.Add" Size="Size.Medium" Class="pa-1" />
    </HeaderContent>
    <Content>
        <div class="d-flex mt-0">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="40%" Height="10px" Class="rounded-lg" />
        </div>
    </Content>
</BaseCard>

@code {
    public void Dispose() 
    {
        _drawerStateContainer.OnConfirmClick -= CreateMeal;
    }

    private void OnCreateClick() 
    {
        if (!_mealStateContainer.IsEdit)
        {
            _drawerStateContainer.OnConfirmClick += CreateMeal;
            _drawerStateContainer.OpenConfirmDrawer("Save meal", "You need to create your meal before you can add ingredients, would you like to do that now?");

            return;
        }

        CreateIngredient();
    }

    private async Task CreateMeal() 
    {
        var result = await _mediator.Send(new SaveMeal.Command(_mealStateContainer.MealToEdit));
        if (result.Handle(_snackbar).IsFailed) return;

        _drawerStateContainer.OnConfirmClick += CreateMeal;
        _drawerStateContainer.CloseDrawer();

        _mealStateContainer.MealToEdit = result.Value;

        CreateIngredient();
    }

    private void CreateIngredient()
    {
        DrawerStateParameters drawerStateParameters = new DrawerStateParameters
        {
            Content = typeof(IngredientDrawer),
            Title = "Create Ingredient",
            Height = "38%",
            ContentParameters = new Dictionary<string, object>
            {
                { nameof(IngredientDrawer.Ingredient), new Ingredient() }
            }
        };

        _drawerStateContainer.OpenDrawer(drawerStateParameters);
    }
}