@inject IIngredientStateContainer _ingredientStateContainer
@inject Client _supabaseClient

<BaseCard Dense CardColor="Color.Primary" OnClick="OnCardClicked">
    <HeaderContent>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="70%" Class="rounded-lg mt-1" Height="20px" />
        <MudLoadingButton OnClick="OnCardClicked" ButtonVariant="@ButtonVariant.IconButton" Icon="@Icons.Material.Filled.Add" Size="Size.Medium" Class="pa-1" />
    </HeaderContent>
    <Content>
        <div class="d-flex mt-0">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="40%" Height="10px" Class="rounded-lg" />
        </div>
    </Content>
</BaseCard>

@code {
    private void OnCardClicked()
    {
        _ingredientStateContainer.CreateIngredient();
    }
}