@inject NavigationManager navigationManager

<MudStack Class="@(IsActive ? "active" : "")" AlignItems="AlignItems.Center" Row=false @onclick="Navigate" Spacing="0" Justify="Justify.Center" style="cursor: pointer; width: 25vw;">
    @if (Icon != null)
    {
        <MudIcon Icon="@Icon" Color="@(IsActive ? Color.Primary : Color.Default)" />
    }
    <div>
        @Childcontent
    </div>
</MudStack>

@code {
    [Parameter]
    public string Icon { get; set; }

    [Parameter, EditorRequired]
    public string Href { get; set; }

    [Parameter]
    public RenderFragment Childcontent { get; set; }

    [Parameter]
    public bool IsActive { get; set; }

    private void Navigate()
    {
        navigationManager.NavigateTo(Href);
    }
}