@page "/login"
@inject ISender _mediator
@inject ISnackbar _snackbar
@inject NavigationManager _navigationManager

<CustomForm @ref="Form" Class="pa-5 d-flex flex-column" @bind-IsValid="IsValid" OnEnterClicked="Login">
    <MudText Typo="Typo.h6">Login</MudText>
    <TextField @bind-Value="Email" Class="mt-4" Label="Email" Required InputType="InputType.Email" />
    <TextField @bind-Value="Password" Class="mt-4" Label="Password" Required InputType="InputType.Password" />
    <MudStack Row Spacing="0" Justify="Justify.SpaceBetween">
        <Button Variant="Variant.Text">Create account</Button>
        <Button Variant="Variant.Text">Forgot password</Button>
    </MudStack>
    <Button OnClick="Login" Class="mt-8">Login</Button>
</CustomForm>

@code {
    private string Email { get; set; } = default!;
    private string Password { get; set; } = default!;
    private bool IsValid { get; set; }
    private CustomForm Form { get; set; } = default!;

    private async Task Login()
    {
        await Form.Validate();
        if (!IsValid) return;

        var result = await _mediator.Send(new Login.Command(Email, Password));
        result.Handle(_snackbar);

        if (result.IsSuccess)
            _navigationManager.NavigateTo("/meals");
    }
}