@inject IDrawerStateContainer _drawerStateContainer
@inject IIngredientStateContainer _ingredientStateContainer
@inject IMealsStateContainer _mealsStateContainer
@inject IMediator _mediator
@inject ISnackbar _snackbar

<BaseCard Dense CardColor="Color.Primary" OnClick="() => _ingredientStateContainer.EditIngredient(Ingredient)">
    <HeaderContent>
        <MudText  Typo="Typo.h6">@Ingredient.Name</MudText>
        <DeleteIngredientButton Ingredient="Ingredient" />
    </HeaderContent>
    <Content>
        <div class="d-flex mt-2">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Scale" />
            <MudText Class="mx-2">@Ingredient.Amount</MudText>
        </div>
    </Content>
</BaseCard>

@code {
    [Parameter]
    public Ingredient Ingredient { get; set; }
}
