.day-container {
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.day:hover {
    color: #6C8FD6
}

@media (hover: none) {
    .day:hover {
        color: inherit
    }
}

.current-day {
    background-color: gray
}

.selected-day {
    background-color: #5678B8;
}